.git
.gitignore

.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
coverage.json
coverage_artifacts.zip

.env
.env.*
!.env.example
!.env.docker.example

.idea
.vscode
