PROJECT_NAME=EventTicketingAPI
DATABASE_URL=postgresql+asyncpg://event_ticketing_app:change_me@127.0.0.1:5432/event_ticketing_dev
REDIS_URL=redis://127.0.0.1:6379/0
SECRET_KEY=change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
ENVIRONMENT=development
DB_ECHO=true
